    {{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper">
            <article class="post">
                <header>
                    <h1>{{ .Title }}</h1>
                    <h2 class="headline">{{ .Date.Format "January 2, 2006" }}</h2>
                </header>
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>
            <footer id="post-meta" class="clearfix">
                {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}">{{ end }}
                        <img class="avatar" src="{{ .Site.BaseURL }}images/avatar.png">
                        <div>
                            <span class="dark">{{ .Site.Params.name }}</span>
                            <span>{{ .Site.Params.aboutAuthor }}</span>
                        </div>
                    {{ with .Site.Params.twitter }}</a>{{ end }}
                <section id="sharing">
                    {{ partial "share.html" . }}
                </section>
            </footer>

            <section class="disqus">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = '{{ .Site.Params.disqusShortname }}';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="//disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </section>

            {{ partial "latest-posts.html" . }}
            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
